<ul>
	<li><%= link_to "Home", root_path%></li>
	<li><%= link_to "Resources", home_resources_path%></li>
	<li><%= link_to "Organisation", home_organisations_path%></li>
	<li><%= link_to "What is here?", home_what_is_here_path%></li>
	<li><%= link_to "Events", events_path%></li>
	<li><%= link_to "Contact Us", home_contact_us_path%></li>
</ul>